@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
@import url("https://fonts.googleapis.com/css?family=Poiret+One:400");

/* CSS Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0px;
}

/* Item columns */

.section {
    clear: both;
    padding: 0px;
    max-width: 1000px;
    margin: auto;
}
.col {
    display: block;
    float: left;
    margin: 0px 0px 0px 1.6%;
}
.col:first-child {
    margin-left: 0px;
}
.group::before, .group::after {
    content: "";
    display: table;
}
.group::after {
    clear: both;
}
.group {
    zoom: 1;
}
.span_3_of_3 {
    width: 100%;
}
.span_2_of_3 {
    width: 66.13%;
}
.span_1_of_3 {
    width: 32.26%;
}
@media only screen and (max-width: 600px) {
    .col {
        margin: 1% 0px 1% 0%;
    }

    .span_3_of_3, .span_2_of_3, .span_1_of_3 {
        width: 100%;
    }
}

/* Content style */

body {
    background: rgb(238, 237, 237);
}

.section-item {
    height: 200px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 20px, rgba(0, 0, 0, 0.227451) 0px 6px 6px;
    background-size: cover;
    background-position: 50% 50%;
}

.section-item-container {
    display: table;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.74902);
}

.section-item-container:hover {
    background: rgba(0, 0, 0, 0.85098);
}

.section-item-content {
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
}

.section-item-title {
    font-family: 'Poiret One';
    font-weight: 900;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 10px;
}

.section-item-subtitle {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin: 0px 10px 10px;
}

.header {
    width: 100%;
    height: 350px;
    text-align: center;
    display: table;
    background: url(../images/header_background.jpg) 50% 50% / cover;
}

.header-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
}

.header-title {
    font-family: 'Poiret One';
    font-weight: 900;
    font-size: 60px;
    color: rgb(255, 255, 255);
}

.header-subtitle {
    margin-top: 20px;
    font-family: 'Poiret One';
    font-weight: 900;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.footer {
    margin: auto;
    max-width: 1000px;
    text-align: center;
}

.footer-text {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 20px;
    color: rgb(85, 85, 85);
}

.white-link {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.white-link:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.white-link:active {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.white-link:hover {
    color: rgb(204, 204, 204);
    text-decoration: none;
}

.item-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.item-link:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.item-link:active {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.item-link:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}